body {
    background-color: black;
    color:beige;
    font-size: 1.2rem;
}

.header {
    font-size: 1.6rem;
    text-align: center;
    width: 100wv
}

.logo {
    position: absolute;
    top: 20px;
    right: 10px;
}

.factory-handler {
    display: flex;
    flex-direction: row;
}

.factory-selector {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: rgb(34, 34, 34);
    height: 90vh;
}

.selector-button {
    color: rgb(149, 149, 149);
    background-color: rgb(65, 65, 65);
    margin: 1vh;
    width: 14vw;
    font-size: 1.4rem;
}

.pipeline-group {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 91vh;
    width: 80vw;
    background-color: rgb(23, 23, 23);
    margin-left: 1vw;
}

.pipeline-header {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 1vh;
}

.pipeline-box {
    display: flex;
    flex-direction: row;
    width: 85vw;
}

.logoutput {
    max-height: 600px;
}

.pipeline {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    height: 86vh;
    width: 39vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    margin-bottom: 4vh;
}

.pipeline-codec {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    width: 39vw;
}

.pipeline-codec-collapse {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    width: 39vw;
    max-height: 10vh;
}

.pipeline-label {
    margin-left: 5vw;
    margin-top: 1.5vh;
}

.pipeline-footer {
    position:fixed;
    bottom: 0.5vh;
    margin-left: 15vw;
    margin-top: 1vh;
}

.options {
    display: flex;
    flex-direction: column;
}

.options-collapse {
    display: flex;
    flex-direction: column;
    max-height: 5vh;
}


.horizontal {
    margin-top: 2vh;
    width: 39vw
}

.button {
    color: white;
    background-color: rgb(47, 39, 39);
    margin: 1vh;
    width: 15vw;
    font-size: 1.4rem;
}

.debugger {
    position: absolute;
    left: 30vw;
    top: 90vh;
    width: 50vw;
}

.input-text {
    width: 30vw;
    color: white;
    background-color: black;
    font-size: 1.2rem;
}

.input-number {
    width: 10vw;
    color: white;
    background-color: black;
    font-size: 1.2rem;
}

select {
    width: 30vw;
    color: white;
    background-color: black;
    font-size: 1.2rem;
}

