body {
    background-color: black;
    color:beige;
    font-size: 1.2rem;
}

.header {
    font-size: 1.6rem;
    text-align: center;
    width: 100wv
}

.pipeline {
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 40vw;
    margin-left: 20vw;
    margin-top: 30px;
}

.options {
    display: flex;
    flex-direction: column;
}

.horizontal {
    width: 40vw
}

.button {
    color: white;
    background-color: rgb(61, 61, 61);
    margin: 2vh;
    width: 20vw;
    font-size: 1.4rem;
}

.debugger {
    position: absolute;
    left: 30vw;
    top: 90vh;
    width: 50vw;
}


input {
    width: 30vw;
    color: white;
    background-color: black;
    font-size: 1.2rem;
    margin-left: 10 px;
}

select {
    width: 20vw;
    color: white;
    background-color: black;
    font-size: 1.2rem;
    margin-left: 10 px;
}

